@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Database Library</h1>
    <p>Make sure to read the <a href="https://github.com/arioanindito/FinalTask#developing-software-system">ReadMe</a> file for comprehensive explanation.</p>
</div>
